<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY BLOG</title>
    <!----------------------------------- css link start---------------------------------------- -->
    <link rel="stylesheet" href="../css/style.css" />
    <!----------------------------------- css link End---------------------------------------- -->
    <!----------------------------------- Bootstrap link start---------------------------------------- -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <!----------------------------------- Bootstrap link End---------------------------------------- -->
</head>

<body style="background-color: #d4d4d4">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 dbbtn">Display Contact</div>
            
        </div>

        <!----------------------------- table start --------------- -->
        <div class="row mt-4">
            <div class="col-md-12">
                <table border="1" class="table table-md table-hover table-striped">
                    <thead class="theadt">
                        <tr>
                            <th>ID</th>
                            <th>User Name </th>
                            <th>Email Id</th>
                            <th>Phone NO</th>
                            <th>Address</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% i=1 %>
                        <% d.forEach((item)=>{ %>

                            <tr>
                                <td><%= i++ %></td>
                                <td><%= item.userName.slice(0,20) %></td>
                                <td><%= item.emailId.slice(0,20) %></td>
                                <td><%= item.mobileNo %></td>
                                <td><%= item.userAddress.slice(0,20) %></td>
                                <td>
                                    <a href="/contactview/<%= item._id %>"><i class="fa-solid fa-eye-slash p-2"></i></a>
                                    <a href="/contactdelete/<%= item._id %>"><i class="fa-solid fa-trash-can p-2"></i></a>
                                </td>
                            </tr>
                        <% }) %>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <!----------------------------- table End --------------- -->


    </div> <!--------------container End-->

    <!--------javascript link---------->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!------End javascript link---------->
</body>

</html>